@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
}
.btn{
  border-radius: 0 !important;
}
.card{
  border-radius: 0 !important;
}

header{
  height: 70vh;
  min-height: 300px;
  background-size: cover;
  background-image: url(/assets/img/sandals-2.jpg);
}
header .text{
  text-align: center;
  padding-top: 20rem;
  padding-left: 15rem;
  line-height: 2rem;
}
header .text p{
font-family: cursive;
line-height: 2rem;
}
.navbar .navbar-brand span{
  font-weight: lighter !important;
}
.navbar{
  padding: .5rem 1rem !important;
}
.collection img{
  height: 80vh;
  width: 100%;
}
.collection .card-body{
  padding-top: 15rem !important;
  color: #fff;
}
.collection h4{
  font-weight: bold;
}
.summer img{
  height: 100vh;
  width: 100%;
}
.summer .card-body{
  padding-top: 15rem !important;
} 
.summer .card-body span{
  color: black;
} 
.footer .icons i{
  justify-content: space-between !important;
}
@media  (max-width:502px) {
  
header{
  height: 0vh;
  min-height: 300px;
  background-size: cover;
  background-image: url(/assets/img/sandals-2.jpg);
}
header .text{
  text-align: center;
  padding-top: 5rem;
  padding-left: 2rem;
  line-height: 2rem;
}
header .text p{
font-family: cursive;
line-height: 2rem;
}
}